* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background: #1C1B1E;
}

main{
    position: absolute;
    width: 34rem;
    height: 45.2rem;
    left: 51.3rem;
    top: 19.4rem;
}

form {}